app/cfdiPeruDynGP/Encriptador/Web References/interfactura/TimbreServicios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultaTimbre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FechaTimbrado" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="SoloTimbrado" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaTimbreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaTimbreResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneraTimbre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CFDv3" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Solotimbre" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneraTimbreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeneraTimbreResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelaTimbre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelaXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelaTimbreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelaTimbreResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaTimbreSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaTimbre" />
  </wsdl:message>
  <wsdl:message name="ConsultaTimbreSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaTimbreResponse" />
  </wsdl:message>
  <wsdl:message name="GeneraTimbreSoapIn">
    <wsdl:part name="parameters" element="tns:GeneraTimbre" />
  </wsdl:message>
  <wsdl:message name="GeneraTimbreSoapOut">
    <wsdl:part name="parameters" element="tns:GeneraTimbreResponse" />
  </wsdl:message>
  <wsdl:message name="CancelaTimbreSoapIn">
    <wsdl:part name="parameters" element="tns:CancelaTimbre" />
  </wsdl:message>
  <wsdl:message name="CancelaTimbreSoapOut">
    <wsdl:part name="parameters" element="tns:CancelaTimbreResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="ConsultaTimbre">
      <wsdl:input message="tns:ConsultaTimbreSoapIn" />
      <wsdl:output message="tns:ConsultaTimbreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneraTimbre">
      <wsdl:input message="tns:GeneraTimbreSoapIn" />
      <wsdl:output message="tns:GeneraTimbreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelaTimbre">
      <wsdl:input message="tns:CancelaTimbreSoapIn" />
      <wsdl:output message="tns:CancelaTimbreSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaTimbre">
      <soap:operation soapAction="http://tempuri.org/ConsultaTimbre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraTimbre">
      <soap:operation soapAction="http://tempuri.org/GeneraTimbre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaTimbre">
      <soap:operation soapAction="http://tempuri.org/CancelaTimbre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaTimbre">
      <soap12:operation soapAction="http://tempuri.org/ConsultaTimbre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraTimbre">
      <soap12:operation soapAction="http://tempuri.org/GeneraTimbre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaTimbre">
      <soap12:operation soapAction="http://tempuri.org/CancelaTimbre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://qa2.interfactura.com/TimbreServicios/TimbreServicios.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://qa2.interfactura.com/TimbreServicios/TimbreServicios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>