app/cfdiPeruDFactureUbl21/Connected Services/DFactureUbl21/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://demoint.thefactoryhka.com.pe/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://demoint.thefactoryhka.com.pe/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://demoint.thefactoryhka.com.pe/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PeruService.Response" />
      <xsd:import schemaLocation="http://demoint.thefactoryhka.com.pe/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PeruService.Classes" />
      <xsd:import schemaLocation="http://demoint.thefactoryhka.com.pe/Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PeruService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_CargarCertificado_InputMessage">
    <wsdl:part name="parameters" element="tns:CargarCertificado" />
  </wsdl:message>
  <wsdl:message name="IService_CargarCertificado_OutputMessage">
    <wsdl:part name="parameters" element="tns:CargarCertificadoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ComunicacionBaja_InputMessage">
    <wsdl:part name="parameters" element="tns:ComunicacionBaja" />
  </wsdl:message>
  <wsdl:message name="IService_ComunicacionBaja_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComunicacionBajaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DescargaArchivo_InputMessage">
    <wsdl:part name="parameters" element="tns:DescargaArchivo" />
  </wsdl:message>
  <wsdl:message name="IService_DescargaArchivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DescargaArchivoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Enviar_InputMessage">
    <wsdl:part name="parameters" element="tns:Enviar" />
  </wsdl:message>
  <wsdl:message name="IService_Enviar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EstatusDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:EstatusDocumento" />
  </wsdl:message>
  <wsdl:message name="IService_EstatusDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:EstatusDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FoliosRestantes_InputMessage">
    <wsdl:part name="parameters" element="tns:FoliosRestantes" />
  </wsdl:message>
  <wsdl:message name="IService_FoliosRestantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:FoliosRestantesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GuiasRemision_InputMessage">
    <wsdl:part name="parameters" element="tns:GuiasRemision" />
  </wsdl:message>
  <wsdl:message name="IService_GuiasRemision_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuiasRemisionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RetencionPercepcion_InputMessage">
    <wsdl:part name="parameters" element="tns:RetencionPercepcion" />
  </wsdl:message>
  <wsdl:message name="IService_RetencionPercepcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetencionPercepcionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Reversion_InputMessage">
    <wsdl:part name="parameters" element="tns:Reversion" />
  </wsdl:message>
  <wsdl:message name="IService_Reversion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReversionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ValidaAcceso_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaAcceso" />
  </wsdl:message>
  <wsdl:message name="IService_ValidaAcceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaAccesoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_OperacionesEmisores_InputMessage">
    <wsdl:part name="parameters" element="tns:OperacionesEmisores" />
  </wsdl:message>
  <wsdl:message name="IService_OperacionesEmisores_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperacionesEmisoresResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="CargarCertificado">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CargarCertificado" message="tns:IService_CargarCertificado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CargarCertificadoResponse" message="tns:IService_CargarCertificado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComunicacionBaja">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ComunicacionBaja" message="tns:IService_ComunicacionBaja_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ComunicacionBajaResponse" message="tns:IService_ComunicacionBaja_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DescargaArchivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DescargaArchivo" message="tns:IService_DescargaArchivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DescargaArchivoResponse" message="tns:IService_DescargaArchivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Enviar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Enviar" message="tns:IService_Enviar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EnviarResponse" message="tns:IService_Enviar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EstatusDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EstatusDocumento" message="tns:IService_EstatusDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EstatusDocumentoResponse" message="tns:IService_EstatusDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FoliosRestantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FoliosRestantes" message="tns:IService_FoliosRestantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FoliosRestantesResponse" message="tns:IService_FoliosRestantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuiasRemision">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GuiasRemision" message="tns:IService_GuiasRemision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GuiasRemisionResponse" message="tns:IService_GuiasRemision_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetencionPercepcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RetencionPercepcion" message="tns:IService_RetencionPercepcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RetencionPercepcionResponse" message="tns:IService_RetencionPercepcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reversion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Reversion" message="tns:IService_Reversion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReversionResponse" message="tns:IService_Reversion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaAcceso">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ValidaAcceso" message="tns:IService_ValidaAcceso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ValidaAccesoResponse" message="tns:IService_ValidaAcceso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OperacionesEmisores">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/OperacionesEmisores" message="tns:IService_OperacionesEmisores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/OperacionesEmisoresResponse" message="tns:IService_OperacionesEmisores_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CargarCertificado">
      <soap:operation soapAction="http://tempuri.org/IService/CargarCertificado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComunicacionBaja">
      <soap:operation soapAction="http://tempuri.org/IService/ComunicacionBaja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DescargaArchivo">
      <soap:operation soapAction="http://tempuri.org/IService/DescargaArchivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Enviar">
      <soap:operation soapAction="http://tempuri.org/IService/Enviar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstatusDocumento">
      <soap:operation soapAction="http://tempuri.org/IService/EstatusDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FoliosRestantes">
      <soap:operation soapAction="http://tempuri.org/IService/FoliosRestantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuiasRemision">
      <soap:operation soapAction="http://tempuri.org/IService/GuiasRemision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetencionPercepcion">
      <soap:operation soapAction="http://tempuri.org/IService/RetencionPercepcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reversion">
      <soap:operation soapAction="http://tempuri.org/IService/Reversion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaAcceso">
      <soap:operation soapAction="http://tempuri.org/IService/ValidaAcceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperacionesEmisores">
      <soap:operation soapAction="http://tempuri.org/IService/OperacionesEmisores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://demoint.thefactoryhka.com.pe/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>